:root{
    --title-color: #322153;
    --title-dark: white;
    --primary-color: #34cb79;
    --bgLight-color: #f0f0f5;
    --bgDark-color: #393B3A;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.night-mode body{
    background-color: var(--bgDark-color);
    
}
.night-mode h1{
    color: var(--title-dark);
    font-family: "Ubuntu", sans-serif;
}

.night-mode h2{
    color: var(--title-dark);
    font-family: "Ubuntu", sans-serif;
}

.night-mode label{
    color: var(--title-dark);
    font-family: "Ubuntu", sans-serif;
}

.night-mode span{
    color: var(--title-dark);
    font-family: "Ubuntu", sans-serif;
}

.night-mode p{
    color: var(--title-dark);
}



html {
    font-family: "Roboto", sans-serif;
}

body{
    background: var(--bgLight-color);
    --webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    
    

}
.night-mode a {
    text-decoration: none;
    

}


h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
    font-family: "Ubuntu", sans-serif;
}

.night-mode header img{
    background-color: #393B3A;
    border-radius: 8px;
}



/*Box model
Modelo de caixa
toda caixa possui:
largura, altura, margem, preenchimento, bordas, cor, visualização
*/



