@media (max-width: 900px) {
    #page-home {
        background-position: 70vw;
    }
    #page-home .content {
        align-items: center;
        text-align: center;

    }
    #page-home header a {
        position: absolute;
        bottom: 48px;

        right: 150px;
        width: 500px;
        transform: translateX(60%);
    }

    #page-home main {
        align-items: center;
    }
    #page-search-results .cards{
        grid-template-columns: 1fr;
    }
    #page-create-point form{
        max-width: 98%;

    }
    #page-create-point .field-group{
        flex-direction: column;
    }
    #page-create-point .Itens-grid{
        grid-template-columns: 1fr 1fr;
    }
    #page-create-point form .field-group .field + .field{
        margin-left: 0px;
    }
}
 
@media(min-width: 1700px) {
    #page-home{
        background-position: 40vw;
    }
    
}

@media(max-height: 360px) {
    #page-home{
        background-position-y: 200px;
    }
}